---
layout: default
title: Home
---
<section class="home-intro">
  <p>{{ site.description }}</p>
</section>

<section>
  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-list-item">
      <a href="{{ post.url | relative_url }}">
        <h2 class="post-list-title">{{ post.title }}</h2>
      </a>
      <span class="post-list-date">{{ post.date | date: "%B %-d, %Y" }}</span>
      {% if post.categories %}
      <div class="post-list-taxonomy">
        {% assign category_path = post.categories | join: " / " %}
        {% assign category_anchor = post.categories | join: "-" | slugify %}
        <a href="{{ '/categories/#' | append: category_anchor | relative_url }}">{{ category_path }}</a>
      </div>
      {% endif %}
      {% if post.excerpt %}
      <p class="post-list-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
