---
layout: default
title: Home
---
<section class="home-intro">
  <p>{{ site.description }}</p>
</section>

<div class="category-anchor-map" aria-hidden="true">
  {% assign top_groups = site.posts | group_by_exp: "post", "post.categories[0]" | sort: "name" %}
  {% for top_group in top_groups %}
  {% assign top_name = top_group.name %}
  {% if top_name and top_name != "" %}
  <span id="{{ top_name | slugify }}"></span>
  {% assign second_groups = top_group.items | group_by_exp: "post", "post.categories[1]" | sort: "name" %}
  {% for second_group in second_groups %}
  {% assign second_name = second_group.name %}
  {% if second_name and second_name != "" %}
  <span id="{{ top_name | append: '-' | append: second_name | slugify }}"></span>
  {% assign third_groups = second_group.items | group_by_exp: "post", "post.categories[2]" | sort: "name" %}
  {% for third_group in third_groups %}
  {% assign third_name = third_group.name %}
  {% if third_name and third_name != "" %}
  <span id="{{ top_name | append: '-' | append: second_name | append: '-' | append: third_name | slugify }}"></span>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}
</div>

<section>
  <ul class="post-list">
    {% for post in site.posts %}
    {% assign category_anchor = post.categories | join: "-" | slugify %}
    <li class="post-list-item">
      <a href="{{ post.url | relative_url }}">
        <h2 class="post-list-title">{{ post.title }}</h2>
      </a>
      <span class="post-list-date">{{ post.date | date: "%B %-d, %Y" }}</span>
      {% if post.categories %}
      <div class="post-list-taxonomy">
        {% assign category_path = post.categories | join: " / " %}
        <a href="{{ '/' | append: '#' | append: category_anchor | relative_url }}">{{ category_path }}</a>
      </div>
      {% endif %}
      {% if post.excerpt %}
      <p class="post-list-excerpt">{{ post.excerpt | strip_html }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
